langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
langchain_text_splitters
pypdf
PyPDF2
validators==0.28.1
yt-dlp==2024.7.9
assemblyai
pytube
unstructured
transformers<=4.48.3
gtts
Pillow
streamlit_extras
torchvision
sentence-transformers
chromadb>=1.0.0
hnswlib
email-validator
protobuf<=3.20.3